/* H&M CSS, kan bruges som reference */

.ff1bbe {
  margin: 0;
  padding: 0;
}
.f1d997 {
  font-size: var(--fds-text-label-l-default-size-font-size-rem);
  line-height: var(--fds-text-label-l-default-size-line-height-number);
  font-variation-settings: var(--fds-text-label-l-font-variation-settings);
  font-family: var(--fds-text-label-l-font-family);
  font-weight: var(--fds-text-label-l-font-weight);
  text-transform: var(--fds-text-label-l-text-transform);
}
html[lang="bg-BG"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-bg-bg-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-bg-bg-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-bg-bg-font-family);
  font-weight: var(--fds-text-label-l-locale-bg-bg-font-weight);
  text-transform: var(--fds-text-label-l-locale-bg-bg-text-transform);
}
html[lang="uk-UA"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-uk-ua-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-uk-ua-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-uk-ua-font-family);
  font-weight: var(--fds-text-label-l-locale-uk-ua-font-weight);
  text-transform: var(--fds-text-label-l-locale-uk-ua-text-transform);
}
html[lang="el-GR"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-el-gr-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-el-gr-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-el-gr-font-family);
  font-weight: var(--fds-text-label-l-locale-el-gr-font-weight);
  text-transform: var(--fds-text-label-l-locale-el-gr-text-transform);
}
html[lang="he-IL"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-he-il-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-he-il-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-he-il-font-family);
  font-weight: var(--fds-text-label-l-locale-he-il-font-weight);
  text-transform: var(--fds-text-label-l-locale-he-il-text-transform);
}
html[lang="zh-TW"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-zh-tw-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-zh-tw-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-zh-tw-font-family);
  font-weight: var(--fds-text-label-l-locale-zh-tw-font-weight);
  text-transform: var(--fds-text-label-l-locale-zh-tw-text-transform);
}
html[lang="zh-MO"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-zh-mo-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-zh-mo-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-zh-mo-font-family);
  font-weight: var(--fds-text-label-l-locale-zh-mo-font-weight);
  text-transform: var(--fds-text-label-l-locale-zh-mo-text-transform);
}
html[lang="zh-HK"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-zh-hk-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-zh-hk-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-zh-hk-font-family);
  font-weight: var(--fds-text-label-l-locale-zh-hk-font-weight);
  text-transform: var(--fds-text-label-l-locale-zh-hk-text-transform);
}
html[lang="ko-KR"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-ko-kr-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-ko-kr-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-ko-kr-font-family);
  font-weight: var(--fds-text-label-l-locale-ko-kr-font-weight);
  text-transform: var(--fds-text-label-l-locale-ko-kr-text-transform);
}
html[lang="ja-JP"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-ja-jp-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-ja-jp-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-ja-jp-font-family);
  font-weight: var(--fds-text-label-l-locale-ja-jp-font-weight);
  text-transform: var(--fds-text-label-l-locale-ja-jp-text-transform);
}
html[lang="vi-VN"] .f1d997 {
  font-size: var(--fds-text-label-l-locale-vi-vn-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-l-locale-vi-vn-default-size-line-height-number
  );
  font-family: var(--fds-text-label-l-locale-vi-vn-font-family);
  font-weight: var(--fds-text-label-l-locale-vi-vn-font-weight);
  text-transform: var(--fds-text-label-l-locale-vi-vn-text-transform);
}
.f1d997 + .f1d997:not(.df673e) {
  margin-bottom: var(--spacing-xs-px);
}
.aa5cb9 {
  font-size: var(--fds-text-body-s-default-size-font-size-rem);
  line-height: var(--fds-text-body-s-default-size-line-height-number);
  font-variation-settings: var(--fds-text-body-s-font-variation-settings);
  font-family: var(--fds-text-body-s-font-family);
  font-weight: var(--fds-text-body-s-font-weight);
  text-transform: var(--fds-text-body-s-text-transform);
}
html[lang="bg-BG"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-bg-bg-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-bg-bg-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-bg-bg-font-family);
  font-weight: var(--fds-text-body-s-locale-bg-bg-font-weight);
  text-transform: var(--fds-text-body-s-locale-bg-bg-text-transform);
}
html[lang="uk-UA"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-uk-ua-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-uk-ua-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-uk-ua-font-family);
  font-weight: var(--fds-text-body-s-locale-uk-ua-font-weight);
  text-transform: var(--fds-text-body-s-locale-uk-ua-text-transform);
}
html[lang="el-GR"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-el-gr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-el-gr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-el-gr-font-family);
  font-weight: var(--fds-text-body-s-locale-el-gr-font-weight);
  text-transform: var(--fds-text-body-s-locale-el-gr-text-transform);
}
html[lang="he-IL"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-he-il-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-he-il-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-he-il-font-family);
  font-weight: var(--fds-text-body-s-locale-he-il-font-weight);
  text-transform: var(--fds-text-body-s-locale-he-il-text-transform);
}
html[lang="zh-TW"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-zh-tw-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-zh-tw-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-zh-tw-font-family);
  font-weight: var(--fds-text-body-s-locale-zh-tw-font-weight);
  text-transform: var(--fds-text-body-s-locale-zh-tw-text-transform);
}
html[lang="zh-MO"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-zh-mo-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-zh-mo-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-zh-mo-font-family);
  font-weight: var(--fds-text-body-s-locale-zh-mo-font-weight);
  text-transform: var(--fds-text-body-s-locale-zh-mo-text-transform);
}
html[lang="zh-HK"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-zh-hk-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-zh-hk-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-zh-hk-font-family);
  font-weight: var(--fds-text-body-s-locale-zh-hk-font-weight);
  text-transform: var(--fds-text-body-s-locale-zh-hk-text-transform);
}
html[lang="ko-KR"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-ko-kr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-ko-kr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-ko-kr-font-family);
  font-weight: var(--fds-text-body-s-locale-ko-kr-font-weight);
  text-transform: var(--fds-text-body-s-locale-ko-kr-text-transform);
}
html[lang="ja-JP"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-ja-jp-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-ja-jp-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-ja-jp-font-family);
  font-weight: var(--fds-text-body-s-locale-ja-jp-font-weight);
  text-transform: var(--fds-text-body-s-locale-ja-jp-text-transform);
}
html[lang="vi-VN"] .aa5cb9 {
  font-size: var(--fds-text-body-s-locale-vi-vn-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-s-locale-vi-vn-default-size-line-height-number
  );
  font-family: var(--fds-text-body-s-locale-vi-vn-font-family);
  font-weight: var(--fds-text-body-s-locale-vi-vn-font-weight);
  text-transform: var(--fds-text-body-s-locale-vi-vn-text-transform);
}
.ae0679 {
  font-size: var(--fds-text-body-m-default-size-font-size-rem);
  line-height: var(--fds-text-body-m-default-size-line-height-number);
  font-variation-settings: var(--fds-text-body-m-font-variation-settings);
  font-family: var(--fds-text-body-m-font-family);
  font-weight: var(--fds-text-body-m-font-weight);
  text-transform: var(--fds-text-body-m-text-transform);
}
html[lang="bg-BG"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-bg-bg-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-bg-bg-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-bg-bg-font-family);
  font-weight: var(--fds-text-body-m-locale-bg-bg-font-weight);
  text-transform: var(--fds-text-body-m-locale-bg-bg-text-transform);
}
html[lang="uk-UA"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-uk-ua-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-uk-ua-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-uk-ua-font-family);
  font-weight: var(--fds-text-body-m-locale-uk-ua-font-weight);
  text-transform: var(--fds-text-body-m-locale-uk-ua-text-transform);
}
html[lang="el-GR"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-el-gr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-el-gr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-el-gr-font-family);
  font-weight: var(--fds-text-body-m-locale-el-gr-font-weight);
  text-transform: var(--fds-text-body-m-locale-el-gr-text-transform);
}
html[lang="he-IL"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-he-il-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-he-il-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-he-il-font-family);
  font-weight: var(--fds-text-body-m-locale-he-il-font-weight);
  text-transform: var(--fds-text-body-m-locale-he-il-text-transform);
}
html[lang="zh-TW"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-zh-tw-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-tw-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-tw-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-tw-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-tw-text-transform);
}
html[lang="zh-MO"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-zh-mo-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-mo-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-mo-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-mo-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-mo-text-transform);
}
html[lang="zh-HK"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-zh-hk-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-hk-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-hk-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-hk-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-hk-text-transform);
}
html[lang="ko-KR"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-ko-kr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-ko-kr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-ko-kr-font-family);
  font-weight: var(--fds-text-body-m-locale-ko-kr-font-weight);
  text-transform: var(--fds-text-body-m-locale-ko-kr-text-transform);
}
html[lang="ja-JP"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-ja-jp-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-ja-jp-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-ja-jp-font-family);
  font-weight: var(--fds-text-body-m-locale-ja-jp-font-weight);
  text-transform: var(--fds-text-body-m-locale-ja-jp-text-transform);
}
html[lang="vi-VN"] .ae0679 {
  font-size: var(--fds-text-body-m-locale-vi-vn-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-vi-vn-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-vi-vn-font-family);
  font-weight: var(--fds-text-body-m-locale-vi-vn-font-weight);
  text-transform: var(--fds-text-body-m-locale-vi-vn-text-transform);
}
.da608e {
  font-size: var(--fds-text-body-m-default-size-font-size-rem);
  line-height: var(--fds-text-body-m-default-size-line-height-number);
  font-variation-settings: var(--fds-text-body-m-font-variation-settings);
  font-family: var(--fds-text-body-m-font-family);
  font-weight: var(--fds-text-body-m-font-weight);
  text-transform: var(--fds-text-body-m-text-transform);
}
html[lang="bg-BG"] .da608e {
  font-size: var(--fds-text-body-m-locale-bg-bg-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-bg-bg-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-bg-bg-font-family);
  font-weight: var(--fds-text-body-m-locale-bg-bg-font-weight);
  text-transform: var(--fds-text-body-m-locale-bg-bg-text-transform);
}
html[lang="uk-UA"] .da608e {
  font-size: var(--fds-text-body-m-locale-uk-ua-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-uk-ua-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-uk-ua-font-family);
  font-weight: var(--fds-text-body-m-locale-uk-ua-font-weight);
  text-transform: var(--fds-text-body-m-locale-uk-ua-text-transform);
}
html[lang="el-GR"] .da608e {
  font-size: var(--fds-text-body-m-locale-el-gr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-el-gr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-el-gr-font-family);
  font-weight: var(--fds-text-body-m-locale-el-gr-font-weight);
  text-transform: var(--fds-text-body-m-locale-el-gr-text-transform);
}
html[lang="he-IL"] .da608e {
  font-size: var(--fds-text-body-m-locale-he-il-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-he-il-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-he-il-font-family);
  font-weight: var(--fds-text-body-m-locale-he-il-font-weight);
  text-transform: var(--fds-text-body-m-locale-he-il-text-transform);
}
html[lang="zh-TW"] .da608e {
  font-size: var(--fds-text-body-m-locale-zh-tw-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-tw-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-tw-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-tw-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-tw-text-transform);
}
html[lang="zh-MO"] .da608e {
  font-size: var(--fds-text-body-m-locale-zh-mo-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-mo-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-mo-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-mo-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-mo-text-transform);
}
html[lang="zh-HK"] .da608e {
  font-size: var(--fds-text-body-m-locale-zh-hk-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-zh-hk-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-zh-hk-font-family);
  font-weight: var(--fds-text-body-m-locale-zh-hk-font-weight);
  text-transform: var(--fds-text-body-m-locale-zh-hk-text-transform);
}
html[lang="ko-KR"] .da608e {
  font-size: var(--fds-text-body-m-locale-ko-kr-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-ko-kr-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-ko-kr-font-family);
  font-weight: var(--fds-text-body-m-locale-ko-kr-font-weight);
  text-transform: var(--fds-text-body-m-locale-ko-kr-text-transform);
}
html[lang="ja-JP"] .da608e {
  font-size: var(--fds-text-body-m-locale-ja-jp-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-ja-jp-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-ja-jp-font-family);
  font-weight: var(--fds-text-body-m-locale-ja-jp-font-weight);
  text-transform: var(--fds-text-body-m-locale-ja-jp-text-transform);
}
html[lang="vi-VN"] .da608e {
  font-size: var(--fds-text-body-m-locale-vi-vn-default-size-font-size-rem);
  line-height: var(
    --fds-text-body-m-locale-vi-vn-default-size-line-height-number
  );
  font-family: var(--fds-text-body-m-locale-vi-vn-font-family);
  font-weight: var(--fds-text-body-m-locale-vi-vn-font-weight);
  text-transform: var(--fds-text-body-m-locale-vi-vn-text-transform);
}
.bc8677 {
  font-size: var(--fds-text-label-m-default-size-font-size-rem);
  line-height: var(--fds-text-label-m-default-size-line-height-number);
  font-variation-settings: var(--fds-text-label-m-font-variation-settings);
  font-family: var(--fds-text-label-m-font-family);
  font-weight: var(--fds-text-label-m-font-weight);
  text-transform: var(--fds-text-label-m-text-transform);
}
html[lang="bg-BG"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-bg-bg-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-bg-bg-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-bg-bg-font-family);
  font-weight: var(--fds-text-label-m-locale-bg-bg-font-weight);
  text-transform: var(--fds-text-label-m-locale-bg-bg-text-transform);
}
html[lang="uk-UA"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-uk-ua-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-uk-ua-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-uk-ua-font-family);
  font-weight: var(--fds-text-label-m-locale-uk-ua-font-weight);
  text-transform: var(--fds-text-label-m-locale-uk-ua-text-transform);
}
html[lang="el-GR"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-el-gr-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-el-gr-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-el-gr-font-family);
  font-weight: var(--fds-text-label-m-locale-el-gr-font-weight);
  text-transform: var(--fds-text-label-m-locale-el-gr-text-transform);
}
html[lang="he-IL"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-he-il-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-he-il-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-he-il-font-family);
  font-weight: var(--fds-text-label-m-locale-he-il-font-weight);
  text-transform: var(--fds-text-label-m-locale-he-il-text-transform);
}
html[lang="zh-TW"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-zh-tw-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-zh-tw-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-zh-tw-font-family);
  font-weight: var(--fds-text-label-m-locale-zh-tw-font-weight);
  text-transform: var(--fds-text-label-m-locale-zh-tw-text-transform);
}
html[lang="zh-MO"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-zh-mo-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-zh-mo-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-zh-mo-font-family);
  font-weight: var(--fds-text-label-m-locale-zh-mo-font-weight);
  text-transform: var(--fds-text-label-m-locale-zh-mo-text-transform);
}
html[lang="zh-HK"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-zh-hk-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-zh-hk-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-zh-hk-font-family);
  font-weight: var(--fds-text-label-m-locale-zh-hk-font-weight);
  text-transform: var(--fds-text-label-m-locale-zh-hk-text-transform);
}
html[lang="ko-KR"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-ko-kr-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-ko-kr-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-ko-kr-font-family);
  font-weight: var(--fds-text-label-m-locale-ko-kr-font-weight);
  text-transform: var(--fds-text-label-m-locale-ko-kr-text-transform);
}
html[lang="ja-JP"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-ja-jp-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-ja-jp-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-ja-jp-font-family);
  font-weight: var(--fds-text-label-m-locale-ja-jp-font-weight);
  text-transform: var(--fds-text-label-m-locale-ja-jp-text-transform);
}
html[lang="vi-VN"] .bc8677 {
  font-size: var(--fds-text-label-m-locale-vi-vn-default-size-font-size-rem);
  line-height: var(
    --fds-text-label-m-locale-vi-vn-default-size-line-height-number
  );
  font-family: var(--fds-text-label-m-locale-vi-vn-font-family);
  font-weight: var(--fds-text-label-m-locale-vi-vn-font-weight);
  text-transform: var(--fds-text-label-m-locale-vi-vn-text-transform);
}
.bd2b3c {
  white-space: pre-wrap;
}
.ed93e7 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.df673e.df673e {
  margin: 0;
}
.c2be82 {
  text-align: center;
}
.e3f3e0 {
  text-align: start;
}
.fd4e32 {
  text-align: end;
}
.fb70c2 {
  width: 100%;
}
.c373b3 {
  text-wrap: wrap;
}
.a44736 {
  text-wrap: nowrap;
}
.fbc97c {
  text-wrap: balance;
}
.cc6e0c {
  text-wrap: pretty;
}
.b7768d,
.db85ea,
.db8fc6,
.dddd12,
.f8f1c5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@supports (-webkit-line-clamp: 2) {
  .dddd12 {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@supports (-webkit-line-clamp: 3) {
  .f8f1c5 {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@supports (-webkit-line-clamp: 4) {
  .db8fc6 {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@supports (-webkit-line-clamp: 5) {
  .b7768d {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
